.claude/**
.github/**
.vscode/**
.vscode-test/**
.husky/**
.yarn/**
assets/*.fig
src/**
test/**
.gitignore
*.yaml
*.yml
*.jsonc
*.png
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
